src/main/mule/heroku-kafka-example-mule4.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:kafka="http://www.mulesoft.org/schema/mule/kafka"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/kafka http://www.mulesoft.org/schema/mule/kafka/current/mule-kafka.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config"
		doc:name="HTTP Listener config"
		doc:id="c1bb17c6-9c2d-465a-a4b3-a47eaecc412a">
		<http:listener-connection host="0.0.0.0"
			port="8081" />
	</http:listener-config>
	<configuration-properties
		doc:name="Configuration properties"
		doc:id="7f53198b-ac48-4512-9831-636201a835f0"
		file="mule-properties.yaml" />
	<kafka:consumer-config
		name="Apache_Kafka_Consumer_configuration"
		doc:name="Apache Kafka Consumer configuration"
		doc:id="47912ce0-ff0f-4d76-8ecb-eeccc6a95203">
		<kafka:consumer-plaintext-connection groupId="noatak-72787.mule-group" endpointIdentificationAlgorithm="disabled">
			<tls:context>
				<tls:trust-store path="/Users/dejim.juang/Workspaces/seven-six/heroku-kafka-example-mule4/src/main/resources/truststore.jks" password="password" type="jks" />
				<tls:key-store type="jks" path="/Users/dejim.juang/Workspaces/seven-six/heroku-kafka-example-mule4/src/main/resources/keystore.jks" keyPassword="password" password="password"/>
			</tls:context>
			<kafka:bootstrap-servers >
				<kafka:bootstrap-server value="kafka+ssl://ec2-52-200-255-3.compute-1.amazonaws.com:9096" />
				<kafka:bootstrap-server value="kafka+ssl://ec2-18-211-24-157.compute-1.amazonaws.com:9096" />
				<kafka:bootstrap-server value="kafka+ssl://ec2-34-239-230-122.compute-1.amazonaws.com:9096" />
				<kafka:bootstrap-server value="kafka+ssl://ec2-18-211-215-96.compute-1.amazonaws.com:9096" />
				<kafka:bootstrap-server value="kafka+ssl://ec2-18-211-52-4.compute-1.amazonaws.com:9096" />
				<kafka:bootstrap-server value="kafka+ssl://ec2-18-204-107-149.compute-1.amazonaws.com:9096" />
				<kafka:bootstrap-server value="kafka+ssl://ec2-52-54-116-169.compute-1.amazonaws.com:9096" />
				<kafka:bootstrap-server value="kafka+ssl://ec2-18-211-209-6.compute-1.amazonaws.com:9096" />
			</kafka:bootstrap-servers>
			<kafka:topic-patterns >
				<kafka:topic-pattern value="noatak-72787.mule-app" />
			</kafka:topic-patterns>
		</kafka:consumer-plaintext-connection>
	</kafka:consumer-config>
	<kafka:producer-config name="Apache_Kafka_Producer_configuration" doc:name="Apache Kafka Producer configuration" doc:id="79a3ffbf-e5a2-44db-9002-8b405261b100">
		<kafka:producer-plaintext-connection endpointIdentificationAlgorithm="disabled">
			<tls:context >
				<tls:trust-store path="/Users/dejim.juang/Workspaces/seven-six/heroku-kafka-example-mule4/src/main/resources/truststore.jks" password="password" type="jks" />
				<tls:key-store type="jks" path="/Users/dejim.juang/Workspaces/seven-six/heroku-kafka-example-mule4/src/main/resources/keystore.jks" keyPassword="password" password="password"/>
			</tls:context>
			<kafka:bootstrap-servers >
				<kafka:bootstrap-server value="kafka+ssl://ec2-52-200-255-3.compute-1.amazonaws.com:9096" />
				<kafka:bootstrap-server value="kafka+ssl://ec2-18-211-24-157.compute-1.amazonaws.com:9096" />
				<kafka:bootstrap-server value="kafka+ssl://ec2-34-239-230-122.compute-1.amazonaws.com:9096" />
				<kafka:bootstrap-server value="kafka+ssl://ec2-18-211-215-96.compute-1.amazonaws.com:9096" />
				<kafka:bootstrap-server value="kafka+ssl://ec2-18-211-52-4.compute-1.amazonaws.com:9096" />
				<kafka:bootstrap-server value="kafka+ssl://ec2-18-204-107-149.compute-1.amazonaws.com:9096" />
				<kafka:bootstrap-server value="kafka+ssl://ec2-52-54-116-169.compute-1.amazonaws.com:9096" />
				<kafka:bootstrap-server value="kafka+ssl://ec2-18-211-209-6.compute-1.amazonaws.com:9096" />
			</kafka:bootstrap-servers>
		</kafka:producer-plaintext-connection>
	</kafka:producer-config>
	<flow name="heroku-kafka-example-mule4Flow" doc:id="c8b3abbe-2cbd-4667-a41c-c5d60b142cda" >
		<http:listener doc:name="Listener" doc:id="7e3d29cf-fd5f-4406-947b-491b98fd1190" config-ref="HTTP_Listener_config" path="/publish"/>
		<kafka:publish doc:name="Publish" doc:id="79a3ffbf-e5a2-44db-9002-8b405261b100" config-ref="Apache_Kafka_Producer_configuration" topic='#["noatak-72787.mule-app"]' key='#["test"]'>
			<kafka:message ><![CDATA[#["Hello World!"]]]></kafka:message>
		</kafka:publish>
		<ee:transform doc:name="Transform Message" doc:id="067a71d6-bd0e-4d71-9fc3-8b0fa3f4f084" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="heroku-kafka-example-mule4Flow1" doc:id="fa43b2ab-bd79-4ba1-ac71-fb9e70077491" >
		<kafka:message-listener doc:name="Message listener" doc:id="76866f59-47ed-44fb-841a-ed6e26a9b6c0" config-ref="Apache_Kafka_Consumer_configuration"/>
		<logger level="INFO" doc:name="Logger" doc:id="5faf9b43-827a-41ea-8973-9db986e6a417" message="#[payload]" />
	</flow>
	 
</mule>
